::-webkit-scrollbar {
    width: 15px;
    height: 8px; 
    background-color: #291E32;
}

::-webkit-scrollbar-thumb {
    background-color: #FEB27C;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #E66A56;
}

