main{
    margin-top: 50px;
}

main .text-name{
    margin: 30px;
    height: 80px;
    width: 300px;
    font-size: 40px;
    background-color: #25192e;
    border-radius: 20px;
    text-align: center;
}

main h2{
    text-align: center;
    color: #FEB27C;
}

.about{
    max-width: 1000px;
    min-width: 200px;
    height: 350px;
    padding-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 50px auto;
    color: #FEB27C;
    background-color: #582a4c20;
    border-radius: 30px;
    border: 15px solid #322947;
    box-shadow: 0px 0px 0px 12px #25192e99 inset;
}

.about h1{
    font-size: 60px;
}

.about h4{
    max-width: 670px;
    text-align: center;
}

.about .container a{
    margin: 10px;
    margin-top: 25px;
    width: 60px;
    height: 60px;
    background-color: #291E32;
    border-radius: 15px;
    transition: 0.5s;
}

.about .container a:hover{
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

.about .container a img{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
}

.card{
    color: #FEB27C;
    background: none;
    border: none;
}

.card-body h1, .card-body h4{
    margin: 20px 0px 20px 0px;
}

.carousel-item img{
    border-radius: 30px;
    padding: 20px;
}

.carousel-inner, .carousel-control-prev, .carousel-control-next{
    margin-top: 20px;
}

@media screen and (width < 768px) {
    .card-body h1, .card-text{
        text-align: center;
    }

    .card-body .nav-link{
        margin: auto;
    }

    .img-fluid{
        margin-top: 30px;
    }
}